.footer{
  background: #6699ef;
}
.jumbotron-text{
  color: floralwhite;
  text-shadow: 2px 2px 3px black;
}

.loading{
    text-align: center;
}


.background{
  background: lightblue url('./assests/sea.jpg') center fixed;
  background-size: cover;
  z-index: -2;
}

.home{
  padding-top: 10%;
  padding-bottom: 10%;
  color: gray;
  font-weight: 100 !important;
  z-index: 1; 
}

.modal-header{
  background-color: #265aca;
  color: white;
}

.table-cat{
  background-color: #265aca;
  color: white;
  text-align: center;
}

/* For pages to "slide in and out"*/
.page-enter{
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 400ms ease-in-out;
}

.page-exit{
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active{
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 400ms ease-in-out;
}